.swiper-container {
    height: 500px;
    .swiper-slide {
        background: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        
    }
}